<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
    <%- body %>
    <hr>
    <footer>
    Copyright &copy; 2012 Kensaku Komatsu (<a href="http://twitter.com/komasshu">@komasshu</a>)
    </footer>
  </div>
  </body>
</html>
